node_modules
dist
.git
.github
.gitignore

local.properties
local.example.properties
.env
.env.*
nuvio.env.js
*.pem
*.key

.cache
.pm2
coverage
logs
tmp
temp
*.log

.DS_Store
.idea
.vscode
.roo
.agents

*.ipk
*.wgt
